<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307552247753-0aiigtoebfv5tbd57do76paa5br67k8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307552247753-0aiigtoebfv5tbd57do76paa5br67k8g</string>
	<key>API_KEY</key>
	<string>AIzaSyAJek8p4KhaiAV0UJ3BoFMFsWwtRfxQbyM</string>
	<key>GCM_SENDER_ID</key>
	<string>307552247753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daylighter.life.ChatUI</string>
	<key>PROJECT_ID</key>
	<string>chatter-a942b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-a942b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307552247753:ios:1eb0af120d1006e9011218</string>
	<key>DATABASE_URL</key>
	<string>https://chatter-a942b.firebaseio.com</string>
</dict>
</plist>